<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="rockMusic"
          class="kg.damir.imagesite.RocklMusic">
    </bean>
    <bean id="classicMusic"
          class="kg.damir.imagesite.ClassicalMusic">
    </bean>
    <bean id="hip_hopMusic"
          class="kg.damir.imagesite.HipHopMusic">
    </bean>
    <!-- получил значение с вставив id в конструктор    -->
    <bean id="musicPlayer" class="kg.damir.imagesite.MusicPlayer">

        <!-- конструктор принимающий значения Music         -->
        <property name="name" value="${musicPlayer.name}"/>
        <property name="phone" value="${musicPlayer.phone}"/>

        <property name="listMusic">
            <list value-type="kg.damir.imagesite.Music">
                <ref bean="rockMusic"/>
                <ref bean="classicMusic"/>
                <ref bean="hip_hopMusic"/>
            </list>
        </property>
    </bean>

</beans>